<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" colors="true" stopOnFailure="false" beStrictAboutOutputDuringTests="true" beStrictAboutTestsThatDoNotTestAnything="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="unit">
      <directory suffix=".php">tests/phpunit/unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory suffix=".php">tests/phpunit/integration</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="vendor/yoast/phpunit-polyfills"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">inc</directory>
    </include>
    <exclude>
      <directory>vendor</directory>
    </exclude>
  </source>
</phpunit>
